<style>
  body{
    height:100vh;
    overflow-y:hidden;
    background:#ffc0cb;
  }
</style>

<div class="howto_logo"></div>

<!--------------- CONTENT ----------------------------------------------------->

<div class="white_bg"style="overflow: hidden;">
  <div class="row" style="height:99%; padding-right:10px; overflow: auto; text-align:center">
    <!-- <img src="/sources/logo_subtitle.png" style="margin-top:20px; width:400px;"> <br> -->

    how to blow?
  </div>
</div>

<a href="/home/login"><div class="index_logo2"></div></a>
