<style>
  body{
    height:100vh;
    overflow-y:hidden;
    background:#ffc0cb;
  }

  .howto_title {
    font-weight:700;
    color:#ff5d76;
  }

  .howto_text {
    padding:10px 300px;
    font-size:12pt;
    line-height:1.8;
  }

  .howto_text img {
    margin:15px 0px;
    width:1000px;
  }

  .howto_span {
    font-weight:700;
    color:#ff5d76;
  }

  .howto_flow {
    width:400px !important;
    margin-bottom:10px;
  }
</style>

<div class="howto_logo"></div>

<!--------------- CONTENT ----------------------------------------------------->

<div class="white_bg"style="overflow: hidden;">
  <div class="row" style="height:99%; padding-right:10px; overflow: auto; text-align:center">
    <!-- <img src="/sources/logo_subtitle.png" style="margin-top:20px; width:400px;"> <br> -->
    <br>
    <iframe id="howto_video" src="https://player.vimeo.com/video/190435361?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <br><br>

    <h1 class="howto_title">Bubblegum?</h1>
    <p class="howto_text">
    <img src="/sources/howto/howto-1snack.png"> <br>
      스낵은 식사와 별도로 먹는 것으로, 사람들의 가지각색인 미각적 기호를 만족시킵니다.<br>
      그렇기 때문에 생물적 활동에 필요한 영양소를 공급해주는 식사와는 다르게 심리적인 만족감도 주며,<br>
      식사할 여유가 없는 사람들이 쉽고 빠르게 열량을 섭취할 수 있다는 점에서 많은 사람들이 찾아 먹습니다.<br>
      ‘스낵컬처’가 부흥할 수 있었던 것도 이와 같은 이유에서였습니다.<br>
      인터넷 발달로 방대한 양의 정보와 컨텐츠에 접근할 수 있게 된 사람들은 많은 정보들 중 자신의 기호에 맞는 컨텐츠만을,<br>
      또 크게 힘들이지 않고도 소화해낼 수 있는 쉽고 재미있는 컨텐츠만을 소비하려고 하게 된 것입니다.<br>
    <img src="/sources/howto/howto-2news.png"> <br>
      그러나 제대로 된 식사 없이 스낵만을 먹으면 영양불균형을 초래하게 되는것처럼,<br>
      3줄 요약뉴스나 카드뉴스와 같은 스낵뉴스만을 소비하면 뉴스의 본질은 보지 못한채 자극적이고 단편적인 정보만을 얻는데에서 그치게 됩니다.<br>
    <img src="/sources/howto/howto-3gum.png"> <br>
      뉴스스타터들에게 매력적인 것이 스낵이라면, 그 스낵을 일반스낵이 아닌 풍선껌으로 바꿔본다면 어떨까요?<br>
      풍선껌은 스낵의 종류 중 하나지만 맛으로 먹는 일반스낵과는 다르게 씹는 재미와 중간에 풍선을 불고 터뜨릴 수 있는 재미를 제공하는 스낵입니다.<br>
      3줄요약뉴스나 카드뉴스와 같은 스낵뉴스가 씹고 삼켜버리는 일반스낵이었다면,<br>
      씹고-불고-터뜨리는 재미가 있는 풍선껌과 같은 스낵뉴스는 또 다른 반응-피드백 활동을 이끌어낼 수 있지 않을까요?<br>
    <img src="/sources/howto/howto-4news.png"> <br>
      뉴스라는 껌을 씹다가 재미있는 파생컨텐츠를 불면서 풍선을 띄우고,<br>
      떠다니는 풍선은 또다른 뉴스스타터들에게 뉴스를 재미있게 읽는 툴로써 제공되는것입니다.<br>
      풍선을 불면서 뉴스를 다 읽은 후에는 뉴스원문을 재구성할 수 있습니다.<br>
      이렇게 뉴스를 풍선껌과 같은 재미로 소비할 수 있는 플랫폼을 제공하여 뉴스에 대한 피드백이 활성화되고<br>
      더 높은 퀄리티의 뉴스생산을 유도하는 순환고리가 생성될 궁극적인 효과까지 기대할 수 있습니다.
    </p>
    <br>

    <h1 class="howto_title">How to Blow?</h1>
    <p class="howto_text">
      bubblegum은 뉴스스타터를 위한 흥미유발 뉴스플랫폼으로,<br>
      스낵컨텐츠를 통하여 뉴스를 읽고 재구성하는 서비스를 제공합니다.<br>
      bubblegum 서비스에서 기사는 한개의 풍선껌으로,<br>
      기사의 일부분을 드래그하여 스낵컨텐츠를 태그하는 행위는 풍선을 부는행위,<br>
      그리고 그렇게 태그된 스낵컨텐츠는 버블로 정의됩니다.<br>

      <h4 class="howto_title">login</h4>
      <a href="/home/login"><img class="howto_flow" src="/sources/flowchart/flow1.png"></a> <br>
      로그인하지않아도 풍선껌뉴스를 읽을 수 있지만, 풍선을 불거나 더 다양한 서비스이용을 위해서는 로그인이 필요합니다.<br><br>

      <h4 class="howto_title">Candy Machine : Article Choice Field</h4>
      <a href="/home/index"><img class="howto_flow" src="/sources/flowchart/flow2.png"></a> <br>
      bubblegum은 각 언론사의 뉴스를 분야별로 분류하여 가져옵니다. 뉴스스타터는 원하는 분야의 캔디머신을 선택합니다.<br>
      선택시 각 캔디머신에 업데이트된 기사의 개수를 확인할 수 있습니다.<br><br>

      <h4 class="howto_title">Bubble Experience : Preview Keywords & Bubble Amount</h4>
      <a href="/home/list"><img class="howto_flow" src="/sources/flowchart/flow3.png"></a> <br>
      분야 선택 후 캔디머신을 돌리면 오늘의 최신뉴스가 나열됩니다.<br>
      풍선껌 기사에 마우스를 올리면 해당 기사에 몇 개의 버블이 태그됐는지,<br>
      태그가 가장 많이 된 기사의 핵심 키워드는 무엇인지 확인 가능합니다. <br><br>

      <h4 class="howto_title">Poping Bubble : Brief News View via Image Bubbles</h4>
      <a href="/home/listpre"><img class="howto_flow" src="/sources/flowchart/flow4.png"></a> <br>
      <a href="/home/listpre"><img class="howto_flow" src="/sources/flowchart/flow5.png"></a> <br>
      기사페이지로 들어오면 뉴스스타터들이 태그해놓은 이미지버블과 키워드를 함께 볼 수 있습니다.<br>
      버블을 클릭하면 이미지와 뉴스스타터의 댓글을 볼 수 있고, 키워드를 클릭하면 원문페이지로 넘어갑니다. <br><br>

      <h4 class="howto_title">Blowing Bubble : Drag and Tags</h4>
      <a href="/home/main"><img class="howto_flow" src="/sources/flowchart/flow6.png"></a> <br>
      <a href="/home/main"><img class="howto_flow" src="/sources/flowchart/flow7.png"></a> <br>
      앞의 페이지에서 봤던 버블을 누구나 쉽게 불수있습니다.<br>
      뉴스원문의 일부 단어 혹은 문장을 드래그하면 패널로 등장하는 버블버튼 중 태그하고자 하는 컨텐츠의 성격에 따라 선택합니다.<br><br>
      <span class="howto_span">Image Bubble</span> 해당 키워드와 관련된 이미지(혹은 짤방)를 태그합니다. <br>
      <span class="howto_span">Information Bubble</span> 해당 키워드의 정의나 추가 정보를 태그합니다. <br>
      <span class="howto_span">Linked News Bubble</span> 해당 키워드와 관련된 또 다른 뉴스링크를 태그하여 사건간의 연관성을 확인할 수 있도록 합니다.<br>
      <span class="howto_span">BlahBlah Bubble</span> 자유로운 의견을 태그합니다.<br><br>

      <h4 class="howto_title">Sticky Gum : News Recomposition by Bubbles</h4>
      <a href="/home/main"><img class="howto_flow" src="/sources/flowchart/flow8.png"></a> <br>
      버블을 레이팅하여 뉴스원문을 다른 뉴스스타터와 함께 재구성할 수 있습니다.<br>
      뉴스스타터들의 싫어요를 5개이상 받은 버블은 사라집니다.<br>
      반면 좋아요를 10개이상 받았으며 동시에 가장 많이 받은 버블은 뉴스원문에 삽입되어 재구성컨텐츠로 자리잡게 됩니다.<br><br>
      <span class="howto_span">- 계속 업데이트 중에 있습니다 -</span>
    </p>
    <br>

    <a href="/home/login">
      <h3>Now, Enjoy News like Bubble!</h3>
    </a>
    <br><br>
    <a style="position:fixed; right:50px; bottom:180px;" href="#howto_video"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span><br>Go to top</a>
    <a style="position:fixed; left:50px; bottom:180px;" href="javascript:history.back()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><br>Back</a>

    <!-- <img src="/sources/logo_subtitle.png" style="margin-top:20px; width:400px;"> <br> -->


  </div>
</div>

<a href="/home/login"><div class="index_logo2"></div></a>
