<script type="text/javascript">
var isClicked = false;
var clickedElement = null
var likeContainer = function(elem) {
  var likeContainer = $('<div/>')
    .css({'float': 'right'});

  var likeBtn = $('<span/>')
    .addClass('glyphicon glyphicon-heart likeReply')
    .css({'cursor':' pointer', 'top': '2px'})
    .attr('aria-hidden', 'true')
    .attr('num', elem.id);

  var likeNum = $('<span/>')
    .attr('id', 'reply_count_' + elem.id)
    .html('&nbsp' + elem.like_count + '&nbsp');

  var dislikeBtn = $('<span/>')
    .addClass('glyphicon glyphicon-remove dislikeReply')
    .css({'cursor':' pointer', 'top': '2px'})
    .attr('aria-hidden', 'true')
    .attr('num', elem.id);

  var disLikeNum =  $('<span/>')
    .attr('id', 'anti_count_' + elem.id)
    .html('&nbsp' + elem.unlike_count + '&nbsp');

  return likeContainer.append(likeBtn)
    .append(likeNum)
    .append(dislikeBtn)
    .append(disLikeNum)
    .append("<br class= 'clear'/>")
}

var outerContainer = function(elem) {
  return $('<div/>')
    .addClass('reply_gum')
    .attr('id', 'gum_' + elem.id);
}
var userNameSpan = function(elem) {
  return $('<span/>')
    .addClass('reply_username')
    .text(elem.user_name);
}

var imageBubble = function(elem) {

  var container = outerContainer(elem);

  var image =  $('<div/>',{
    class: 'reply_gum1_image',
  }).css({
    'background-image': 'url(' +  elem.img_url + ')'
  })

  var userName = userNameSpan(elem);
  var content = $('<br/>')
    .text(elem.content);

  var likes = likeContainer(elem);
  return container.append(userName)
    .append(image)
    .append(content)
    .append(likes);
}
var infoBubble = function(elem) {
  var container = outerContainer(elem);
  var reply_gum2 = $('<div />', {
    class: 'reply_gum2'
  });
  reply_gum2.append(
    $('<div/>', {
      class: 'reply_gum2_text'
    }).html(userNameSpan(elem))
    .append(' |')
    .append(
      $('<span/>')
        .text(elem.content)
        .addClass('block-span')
    )
  );
  var likes = likeContainer(elem);
  return container.append(reply_gum2)
    .append(likes);

}
var linkBubble = function(elem) {
  var container = outerContainer(elem);
  var reply_gum2 = $('<div />', {
    class: 'reply_gum2'
  });
  reply_gum2.append(
    $('<div/>', {
      class: 'reply_gum2_text'
    }).html(userNameSpan(elem))
    .append(' |')
    .append(
      $('<span />')
        .text(elem.content)
        .addClass('block-span')
    )
  )
  .append(
    $('<a />', {
      'href': 'http://' + elem.link,
      'target': '_blank'
    }).append(
      $('<div />', {
        'class': 'reply_gum3_link'
      })
    )
  )
  var likes = likeContainer(elem);
  return container.append(reply_gum2)
    .append(likes);

}
var blahBubble = function(elem) {
  var container = outerContainer(elem);
  var reply_gum2 = $('<div />', {
    class: 'reply_gum2'
  });
  reply_gum2.append(
    $('<div/>', {
      class: 'reply_gum2_text'
    }).html(userNameSpan(elem))
    .append(' |')
    .append(
      $('<span/>')
        .text(elem.content)
        .addClass('block-span')
    )
  );
  var likes = likeContainer(elem);
  return container.append(reply_gum2)
    .append(likes);
}

var hideClickedImage = function(_this) {
  var id = 'gum_' + $(_this).attr("id");
  var ggum = "#gum_" + id;
  $('.clicked').each(function(idx, elem){
    if(id != $(elem).attr('id')) {
      $(elem).hide();
      $(elem).removeClass('clicked');
    }
  });
}

var hideImage = function(selector) {
  console.log('selector hide image', selector)
  $(selector).hide();
}

var fadeImage = function(selector) {
  console.log('selector fade image', selector)

  $(selector).fadeIn()
}

var showBubbles = function(bulk, selector, event) {
  var data = [];
  if($(selector).is(':hover') && clickedElement != selector ) {

    hideImage('.article_image');
  } else {
    return false;
  }
  $('.reply_gum').remove();
  if ($.isArray(bulk)) {
    data = bulk;
  } else {
    data.push(bulk)
  }
  if (event.type == 'click') {
    clickedElement = selector;
    isClicked = true;
  }
  data.forEach(function(elem) {
    if (elem.option_num == 0) {
      $('.col-md-5').append(imageBubble(elem));
    } else if (elem.option_num == 1) {
      $('.col-md-5').append(infoBubble(elem));
    } else if (elem.option_num == 2) {
      $('.col-md-5').append(linkBubble(elem));
    } else if (elem.option_num == 3) {
      $('.col-md-5').append(blahBubble(elem));
    }
  });
}


function selectText() {
  var selectionText = "";
  if (document.getSelection) {
    selectionText = document.getSelection();
  } else if (document.selection) {
    selectionText = document.selection.createRange().text;
  }
  return selectionText;
}

function getAbbrText(selectedText) {
  var startRange = Math.min(selectedText.baseOffset, selectedText.focusOffset);
  var endRange = Math.max(selectedText.baseOffset, selectedText.focusOffset);
  var dataString = selectedText.focusNode.data;
  strStartRange = Math.max(0, startRange -6);
  strEndRange = Math.min(dataString.length, endRange + 6);
  var str = "";
  for(var i = strStartRange; i < startRange; i ++) {
    if(dataString[i] != undefined) {
      str += dataString[i];
    }
  }
  str += "<span>";
  for(var i = startRange; i < endRange; i++) {
    if(dataString[i] != undefined) {
      str += dataString[i];
    }
  }
  str += "</span>";
  for(var i = endRange; i < strEndRange; i++) {
    if(dataString[i] != undefined) {
      str += dataString[i];
    }
  }

  return str;
}


$(document).ready(function(){

  $('.post_content').mouseup(function(){
    console.log('post contesnt mouse up')
    var selectedText = '';
    var getSelectText = '';
    getSelectText = selectText().toString();
    texting = selectText();
    if (getSelectText != ""){
      $("#button_form").animate({width: "350px"}, "fast");
      // $("#button_form").toggle( 'slide', 'right', 500);
    }
    if (getSelectText == "") {
      $("#button_form").animate({width: "0px"}, "fast");
      // $("#button_form").fadeOut('fast');
    }
    if(getSelectText != '') {
    	selectedText = getSelectText;
    } else {
  	  return;
    }

    var abbrText = getAbbrText(selectText());

    document.getElementById("myModalLabel1").innerHTML = selectedText;
    document.getElementById("myModalLabel2").innerHTML = selectedText;
    document.getElementById("myModalLabel3").innerHTML = selectedText;
    document.getElementById("myModalLabel4").innerHTML = selectedText;

    document.getElementById("locationText1").innerHTML = selectedText;
    document.getElementById("locationText2").innerHTML = selectedText;
    document.getElementById("locationText3").innerHTML = selectedText;
    document.getElementById("locationText4").innerHTML = selectedText;

    console.log(abbrText);

    $("#abbr_text1").val(abbrText);
    $("#abbr_text2").val(abbrText);
    $("#abbr_text3").val(abbrText);
    $("#abbr_text4").val(abbrText);

  });


  $(".ggum_ddak_ji").hover(function(e){
    if (e.currentTarget == e.target) {
      var text = $(this).text();
      var post_id = window.location.pathname.split('/').pop();
      $.ajax({
        method: 'post',
        data: {query: text, post_id: post_id},
        url: '/home/ggum',
        success: function(data) {
          showBubbles(data, e.currentTarget, e);
        }
      })
    }
  }, function(e) {
    if (e.currentTarget == e.target) {
      if($(e.currentTarget).is(':hover')) {
        return false;
      } else if (!isClicked) {
        $('.reply_gum').remove();
        fadeImage('.article_image');
      }
    }
  });


  $(".ggum_ddak_ji").click(function(e){
    if (e.currentTarget == e.target) {
      var text = $(this).text();
      var post_id = window.location.pathname.split('/').pop();
      $.ajax({
        method: 'post',
        data: {query: text, post_id: post_id},
        url: '/home/ggums',
        success: function(data) {
          showBubbles(data, e.currentTarget, e);
        },
        error: function(err) {
          alert('문제가 있습니다.');
        }
      })
    }
  });

  $(".likePost").click(function(){
    var this_post = $(this);
    var postId = this_post.attr("num");    // like button with attribute name of num="(this_post.id)"
    var user_id = $("#userId").val();      // hidden type input with id="userId" value="(current_user.id)"
    $.ajax({
      method: "POST",
      url: "/post/count_update",
      data: {post_id: postId, user_id: user_id},
      dataType: "json"
    })
    .done(function( json ) {
      var updated_count = json.count;
      $("#post_count").empty('');
      $("#post_count").append(updated_count)
    })
  });

  $(document).on('click', '.likeReply', function(){
    var this_reply = $(this);
    var replyId = this_reply.attr("num");    // like button with attribute name of num="(this_reply.id)"
    var user_id = $("#userId").val();        // hidden type input with id="userId" value="(current_user.id)"
    $.ajax({
      method: "POST",
      url: "/reply/count_update",
      data: {reply_id: replyId, user_id: user_id},
      dataType: "json"
    })
    .done(function( json ) {
      var updated_count = json.count;
      $("#reply_count_" + replyId).empty('');
      $("#reply_count_" + replyId).append('&nbsp;' + updated_count + '&nbsp;');
    });
  });

  $(document).on('click', '.dislikeReply', function(){
    var this_reply = $(this);
    var replyId = this_reply.attr("num");    // like button with attribute name of num="(this_reply.id)"
    var user_id = $("#userId").val();        // hidden type input with id="userId" value="(current_user.id)"
    $.ajax({
      method: "POST",
      url: "/reply/anti_count_update",
      data: {reply_id: replyId, user_id: user_id},
      dataType: "json"
    })
    .done(function( json ) {
      var updated_count = json.count;
      if (updated_count < 5) {
        $("#anti_count_" + replyId).empty('');
        $("#anti_count_" + replyId).append('&nbsp;' + updated_count + '&nbsp;');
      } else {
        $(this_reply).parent().parent().remove();
      }
    });
  });
});
</script>
